@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff2ef;
}

.clip-text {
  clip-path: inset(0 0 0 0);
}


@layer base {
  input[type="checkbox"]:checked {
    background-color: #ff6b35;
    border-color: #ff6b35;
  }
}

